.signin-page-container {
  height: 100vh;
  position: relative;

  .signin-left-section {
    flex: 1;
    height: 100%;

    .signin-form {
      min-width: 364px;
      margin: 144px 0;
      height: calc(100vh - 288px);
      min-height: 664px;

      .signin-description {
        margin-top: 24px;

        .welcome-heading {
          color: #484848;
        }
      }

      .signin-inputs {
        margin-top: 40px;
        width: 100%;
        box-sizing: border-box;

        .signin-button {
          width: 100%;
          border: none;
          border-radius: 8px;
          padding: 13px 0;
          color: #ffffff;
        }
      }

      .go-to-signup {
        .footer-signup {
          .get-started-button:hover {
            text-decoration: underline;
          }
        }

        .logo-footer-mobile {
          display: none;
        }

        .signin-button-mobile {
          display: none;
          width: 100%;
          cursor: pointer;
          border: none;
          border-radius: 4px;
          padding: 13px 0;
          color: #ffffff;
        }
      }
    }
  }

  .wallpaper {
    flex: 1;
    background: url("https://docparser.com/wp-content/uploads/2024/04/pdf-parser.jpg")
      center;
    background-size: cover;
    height: 100%;
  }
}

@media screen and (max-width: 768px) {
  .signin-page-container {
    .signin-left-section {
      background: url("https://docparser.com/wp-content/uploads/2024/04/pdf-parser.jpg")
        center;
      background-size: cover;

      .signin-form {
        padding: 32px 24px;
        margin: 96px 0;
        min-height: 680px;
        height: calc(100vh - 240px);
        background: #ffffff;
        border-radius: 12px;
        box-sizing: border-box;
        width: 416px;
      }
    }

    .wallpaper {
      display: none;
    }
  }
}

@media screen and (max-width: 480px) {
  .signin-page-container {
    .signin-left-section {
      background: none;

      .signin-form {
        box-sizing: border-box;
        height: 100vh;
        margin: 0 !important;
        width: 100%;
        padding: 0 16px;
        background: url("https://img.freepik.com/free-vector/simple-blue-gradient-background-vector-business_53876-171631.jpg?semt=ais_hybrid&w=740&q=80")
          no-repeat right;
        background-size: cover;
        min-height: unset;
        min-width: unset;

        .signin-header {
          visibility: hidden;
        }

        .signin-description {
          margin-top: 39px;
          .welcome-heading {
            font-family: Inter, serif;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          
          }
         
        }

        .signin-inputs {
          margin-top: 24px;

          .signin-button {
            display: none;
          }
        }

        .go-to-signup {
          margin-top: 0;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-end;
          gap: 16px;
          box-sizing: border-box;
          padding: 24px 0;

          .logo-footer-mobile {
            display: block;
            margin-bottom: 8px;
          }

          .signin-button-mobile {
            display: flex;
          }
        }
      }
    }
  }
}