.input-container {
  display: flex;
  position: relative;
  width: 100%;
}

.input-label {
  position: absolute;
  top: 6px;
  left: 13px;
  font-size: 12px !important;
  line-height: 16px;
  font-weight: 500;
  color: grey;
}

.form-input {
  height: 50px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #eeeeee;
  background-color: #f7f7f7;
  outline: none;
  color: rgba(0, 0, 89, 1);
  font-weight: 400;
  font-family: Inter, serif;
  font-size: 14px;
  line-height: normal;
  box-sizing: border-box;
}

.input-active {
  padding-top: 20px;
}

.form-select__control {
  width: 364px;
  height: 44px;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #eeeeee;
  background-color: #f7f7f7 !important;
  outline: none;
  appearance: none;
}

.form-select__value-container {
  padding: 0 !important;
}

.form-select__placeholder {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.form-select__input-container {
  margin: 0 !important;
  padding: 0 !important;
  height: 20px;
}

.form-select__indicators {
  display: none !important;
}

.input-container .icon {
  height: 16px;
  width: 16px;
  margin-top: 17px;
  margin-right: 13px;
  position: absolute;
  right: 0;
  cursor: pointer;
}

.form-upload {
  display: none;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0px;
  width: 100%;
  margin-top: 3px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  z-index: 10;
  height: 132px;
  overflow-y: scroll;
}

.dropdown .option {
  padding: 10px 18px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: rgba(153, 152, 152, 1);
  cursor: pointer;
}

.dropdown .option:hover {
  background-color: #f7f7f7 !important;
}