.documents-main-page-container {

  .documents-content-body {

    .documents-files-container {
      display: flex;
      flex-direction: column;
      .documents-box-background {
        position: absolute;
        padding-left: 25%;
        z-index: -1;
        top: 20%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .documents-main-page-container {
    .documents-content-body {
      .documents-files-container {
        .documents-box-background {
          padding: 0;
          top: 40%;
          left: -10%;
          height: 500px;
        }
      }
    }
  }
}