.documents-main-page-container {

  .documents-content-body {
    display: flex;
    align-items: flex-start;

    .documents-files-container {
      display: flex;
      flex-direction: column;
    }
  }
}
