.documents-main-page-container {

  .documents-content-body {

    .documents-files-container {
      display: flex;
      flex-direction: column;
      .documents-box-background {
        position: absolute;
        padding-left: 25%;
        z-index: -1;
        top: 20%;
      }
    }
  }
}
