@mixin xetgo-font-d1 {
  font-size: 72px;
  line-height: 80px;
  font-weight: 700;
}
@mixin xetgo-font-d2 {
  font-size: 64px;
  line-height: 72px;
  font-weight: 700;
}
@mixin xetgo-font-h1 {
  font-size: 40px;
  line-height: 44px;
  font-weight: 600;
}
@mixin xetgo-font-h2 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
}
@mixin xetgo-font-h3 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}
@mixin xetgo-font-subHeading {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}
@mixin xetgo-font-body {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}
@mixin xetgo-font-caption {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
@mixin xetgo-font-button {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}
@mixin xetgo-font-tag {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}
@mixin xetgo-font-mini {
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
}

@mixin bold {
  font-weight: 500;
}
@mixin bolder {
  font-weight: 600;
}

.grey-color-subtitle {
  color: #a8a8ae;
}
.xetgo-font-d1 {
  @include xetgo-font-d1;
}
.xetgo-font-d2 {
  @include xetgo-font-d2;
}
.xetgo-font-h1 {
  @include xetgo-font-h1;
}
.xetgo-font-h2 {
  @include xetgo-font-h2;
}
.xetgo-font-h3 {
  @include xetgo-font-h3;
}
.xetgo-font-subHeading {
  @include xetgo-font-subHeading;
}
.xetgo-font-body {
  @include xetgo-font-body;
}
.xetgo-font-button {
  @include xetgo-font-button;
}
.xetgo-font-caption {
  @include xetgo-font-caption;
}
.xetgo-font-tag {
  @include xetgo-font-tag;
}
.xetgo-font-mini {
  @include xetgo-font-mini;
}
.bold {
  @include bold;
}
.bolder {
  @include bolder;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

@media (max-width: 1040px) {
  .xetgo-font-d1 {
    font-size: 56px;
    line-height: 66px;
  }
  .xetgo-font-d2 {
    font-size: 48px;
    line-height: 58px;
  }
  .xetgo-font-h1 {
    font-size: 40px;
    line-height: 48px;
  }
  .xetgo-font-subHeading {
    font-size: 18px;
  }
  .xetgo-font-body {
    font-size: 16px;
  }
  .xetgo-font-caption {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .xetgo-font-d1 {
    font-size: 48px;
    line-height: 40px;
  }
  .xetgo-font-d2 {
    font-size: 40px;
    line-height: 36px;
  }
  .xetgo-font-h1 {
    font-size: 32px;
    line-height: 40px;
  }
  .xetgo-font-subHeading {
    font-size: 18px;
  }
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}
@mixin flex-column-reverse {
  display: flex;
  flex-direction: column-reverse;
}

@mixin justify-content-center {
  justify-content: center;
}

@mixin justify-content-end {
  justify-content: end;
}

@mixin justify-content-space-between {
  justify-content: space-between;
}

@mixin justify-content-space-around {
  justify-content: space-around;
}

@mixin justify-content-space-evenly {
  justify-content: space-evenly;
}

@mixin align-items-center {
  align-items: center;
}

@mixin align-items-start {
  align-items: flex-start;
}

@mixin align-items-end {
  align-items: flex-end;
}

@mixin flex-wrap {
  flex-wrap: wrap;
}

@mixin flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

@mixin flex-1 {
  flex: 1;
}

@mixin text-align-center {
  text-align: center;
}

// Flex Classes

.flex-row {
  @include flex-row;
}
.flex-column {
  @include flex-column;
}
.flex-column-reverse {
  @include flex-column-reverse;
}
.justify-content-center {
  @include justify-content-center;
}
.justify-content-end {
  @include justify-content-end;
}
.justify-content-space-between {
  @include justify-content-space-between;
}
.justify-content-space-around {
  @include justify-content-space-around;
}
.justify-content-space-evenly {
  @include justify-content-space-evenly;
}
.align-items-center {
  @include align-items-center;
}
.align-items-start {
  @include align-items-start;
}
.align-items-end {
  @include align-items-end;
}
.flex-wrap {
  @include flex-wrap;
}
.flex-wrap-reverse {
  @include flex-wrap-reverse;
}
.text-align-center {
  @include text-align-center;
}
.flex-1 {
  @include flex-1;
}
.cursor-pointer {
  cursor: pointer;
}
.position-relative {
  position: relative;
}
.border-box {
  box-sizing: border-box;
}
.border-round {
  border-radius: 50%;
}
.content-center {
  align-content: center;
}

@mixin content-center {
  align-content: center;
}

@mixin full-width {
  width: 100%;
}

.full-width {
  width: 100%;
}

@mixin full-height {
  height: 100%;
}

.full-height {
  height: 100%;
}

@mixin overflow-hidden {
  overflow: hidden;
}

.overflow-hidden {
  overflow: hidden;
}

@mixin overflow-scroll {
  overflow: scroll;
}

.overflow-scroll {
  overflow: scroll;
}

// Loop to generate gap classes
@for $i from 2 through 50 {
  .gap-#{$i} {
    gap: #{$i}px;
  }
}

// Margin and Padding Mixins
@mixin margin-multiple($value) {
  margin: #{$value}px;
}

@mixin padding-multiple($value) {
  padding: #{$value}px;
}

@mixin padding-horizontal-multiple($value) {
  padding-left: #{$value}px;
  padding-right: #{$value}px;
}

@mixin padding-vertical-multiple($value) {
  padding-top: #{$value}px;
  padding-bottom: #{$value}px;
}

// Loop to generate margin classes
@for $i from 0 through 40 {
  .m-#{$i} {
    @include margin-multiple($i);
  }
}

// Loop to generate padding classes
@for $i from 1 through 40 {
  .p-#{$i} {
    @include padding-multiple($i);
  }
}

@for $i from 1 through 40 {
  .px-#{$i} {
    @include padding-horizontal-multiple($i);
  }
}

@for $i from 1 through 40 {
  .py-#{$i} {
    @include padding-vertical-multiple($i);
  }
}

@mixin justify-content-flex-end {
  justify-content: flex-end;
}

@mixin justify-content-flex-start {
  justify-content: flex-start;
}

.justify-content-space-evenly {
  @include flex-wrap-reverse;
}

.justify-content-flex-end {
  @include justify-content-flex-end;
}
.capitalize {
  text-transform: capitalize;
}

// // Loop to generate gap classes

@for $i from 2 through 40 {
  .gap-#{$i} {
    gap: #{$i}px;
  }
}