body {
  margin: 0;
  font-family: Inter, Figtree, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  font-family: Inter;
  border: none;
  outline: none;
}

p {
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
}

button {
  font-family: Inter;
}
textarea {
  border: none;
  font-family: unset;
  outline: unset;
  resize: none;
}

code {
  font-family: Inter, source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Toastify__toast-body {
  margin: 0px;
}

.Toastify__toast-body > div:last-child {
  font-family: Inter;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
}

.main-page-content {
  /* Hide scrollbar for Chrome, Edge, Safari */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for Firefox */
  scrollbar-width: none;

  /* Hide scrollbar for IE / old Edge */
  -ms-overflow-style: none;
}